{{outlet}}

<div class="panel panel-default">
	<div class="panel-heading">
		<div class="panel-label">חיפוש</div>
	</div>
	<div class="panel-body" style="background-color: #f4f4f4;">
		<form>

          <div class="row">

			<div class="col-md-4">
              <div class="form-group">
                <label>מין:</label>
                {{view Em.Select classNames="form-control" 
                  contentBinding="App.userReportsGenders" 
                  optionValuePath="content.id"
                  optionLabelPath="content.name"
                  valueBinding="search.gender"
                  prompt="בחר..."
				  }}
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label>גיל:</label>
                {{input  type="text" class="form-control" valueBinding="search.age"}}
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label>סימפטום:</label>
                {{view Em.Select classNames="form-control" 
                  contentBinding="App.userReportsSymptomIds" 
                  optionValuePath="content.id"
                  optionLabelPath="content.name"
                  valueBinding="search.symptomId"
                  prompt="בחר..."
                  }}
              </div>
            </div>
			
        </div>

    </form>
	</div>
</div>

{{view GRID.TableView}}