{{#view App.ModalView}}
<div class="modal-backdrop fade in"></div>
<div class="modal fade" tabindex="-1">
  <div class="modal-dialog" style="width: 600px;">
    <div class="modal-content">
      <div class="modal-header">
        {{#linkTo 'userReports' tag="button" type="button" class="close"}}&times;{{/linkTo}}
        <h4 class="modal-title">
          פרטי דיווח
        </h4>
      </div>     
      <div class="modal-body">
        <form id="form">
          
          <div class="errors">
          </div>

          <div class="row">

            <div class="col-md-4">
              <div class="form-group">
                {{#unless userReport.isnew}}
                  <label>קו רוחב:</label>
                  {{input type="text" class="form-control" valueBinding="userReport.lat" readonly="readonly"}}
                {{else}}
                  <label>קו רוחב:</label>
                  {{input type="text" class="form-control" valueBinding="userReport.lat" parsley-type="number" required="required"}}
                {{/unless}}
              </div>
            </div>
			
			<div class="col-md-4">
              <div class="form-group">
                {{#unless userReport.isnew}}
                  <label>קו אורך:</label>
                  {{input type="text" class="form-control" valueBinding="userReport.lng" readonly="readonly"}}
                {{else}}
                  <label>קו אורך:</label>
                  {{input type="text" class="form-control" valueBinding="userReport.lng" parsley-type="number" required="required"}}
                {{/unless}}
              </div>
            </div>
			
			<div class="col-md-4">
              <div class="form-group">
                <label>מין:</label>
                {{view Em.Select classNames="form-control" 
                  contentBinding="App.userReportsGenders" 
                  optionValuePath="content.id"
                  optionLabelPath="content.name"
                  valueBinding="userReport.gender"
                  prompt="מין..."
                  required="required"}}
              </div>
            </div>
            
            <div class="col-md-4">
              <div class="form-group">
                <label>גיל:</label>
                {{input type="text" class="form-control" valueBinding="userReport.age" required="required"}}
              </div>
            </div>


			<div class="col-md-4">
              <div class="form-group">
                <label>סימפטום:</label>
                {{view Em.Select classNames="form-control" 
                  contentBinding="App.userReportsSymptomIds" 
                  optionValuePath="content.id"
                  optionLabelPath="content.name"
                  valueBinding="userReport.symptomId"
                  prompt="סימפטום..."
                  required="required"}}
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label>הערות:</label>
                {{input type="text" class="form-control" valueBinding="userReport.comments"}}
              </div>
            </div>

          </div>

        </form>
      </div>
      <div class="modal-footer">
       {{#linkTo 'userReports' tag="button" type="button" class="btn btn-default"}}ביטול{{/linkTo}}
        <div class="pull-left">
          <button {{action "save" userReport view}} type="button" class="btn btn-success">שמור</button>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{{/view}}